timeout 0 // ms, or `0` to disable `timeout`

font {
  size 16.0
  line-height 20.0
}

color {
  fg-key "#D8DEE9"
  fg-separator "#4C566A"
  fg-description "#88C0D0"
  bg "#2E3440"
}

layout {
  width 500
  max-items 10
  padding 8
  radius 8
  anchor 2 // 1:tr | 2:br | 3:bl | 4:tl
  margin {
    top 0
    right 4
    bottom 4
    left 0
  }
}

bind {
  B desc="Open browser" { spawn "google-chrome" "https://www.google.com"; }
  A desc="Apps" {
    T desc="Terminal" { spawn "foot" "sh"; }
    C desc="Calculator" { spawn "gnome-calculator"; }
    N desc="Niri" {
      W desc="Windows" { sh "foot --hold niri msg windows"; }
      L desc="Layers" { sh "foot --hold niri msg layers"; }
      O desc="Outputs" { spawn "foot" "--hold" "niri" "msg" "outputs"; }
    }
  }
  Ctrl+Shift+F desc="File Manager" { spawn "nautilus"; }
}
