timeout 1000 // ms

font {
  size 16.0
  line-height 20.0
}

color {
  fg "#ffffff"
  bg "#000000"
}

layout {
  width 360
  max-height 720
  max-items 10
  padding 16
  anchor 1 // 1:tr | 2:br | 3:bl | 4:tl
  margin {
    top 0
    right 4
    bottom 4
    left 0
  }
}

bind {
  B desc="Open browser" { spawn "$BROWSER" "https://www.google.com"; }
  A desc="Apps" {
    T desc="Terminal" { spawn "$TERMINAL" "-c" "sh"; }
    C desc="Calculator" { spawn "gnome-calculator"; }
    N desc="Niri messages" {
      L desc="Layers" { sh "niri msg layers"; }
      O desc="Layers" { sh "niri msg outputs"; }
    }
  }
  Ctrl+P { sh "niri msg windows"; }
  Ctrl+Shift+P { spawn "nautilus"; }
}
