timeout 2000 // ms, or `0` to disable `timeout`

font {
  size 16.0
  line-height 20.0
}

color {
  fg-key "#D8DEE9"
  fg-separator "#4C566A"
  fg-action "#88C0D0"
  fg-group "#5E81AC"
  bg "#2E3440"
}

layout {
  width 500
  max-items 10
  padding 4
  radius 0
  anchor 2 // 1:tr | 2:br | 3:bl | 4:tl
  margin {
    top 0
    right 0
    bottom 0
    left 0
  }
}

// Default:
//
// bind { }
bind {
  b desc="Open browser" { spawn "google-chrome" "https://www.google.com"; }
  a desc="Apps" {
    t desc="Terminal" { spawn "foot" "sh"; }
    Ctrl+c desc="Calculator" { spawn "gnome-calculator"; }
    // "N" == "Shift+n"
    N desc="Niri" {
      w desc="Windows" { sh "foot --hold niri msg windows"; }
      l desc="Layers" { sh "foot --hold niri msg layers"; }
      o desc="Outputs" { spawn "foot" "--hold" "niri" "msg" "outputs"; }
    }
  }
  // "Ctrl+F" == "Ctrl+Shift+f"
  Ctrl+F desc="File Manager" { spawn "nautilus"; }
}
